## Transform comments array
#set($comments = [])
#foreach($item in $ctx.result.items)
  #if($item.SK == "METADATA")
    $util.qr($comments.add({
      "id": "$item.id",
      "post_id": "$item.post_id",
      "text": "$util.escapeJavaScript($item.text)",
      "username": "$util.escapeJavaScript($item.username)",
      "created_at": "$item.created_at"
    }))
  #end
#end
$util.toJson($comments)

