## Transform subreddits array
#set($subreddits = [])
#foreach($item in $ctx.result.items)
  #if($item.SK == "METADATA")
    $util.qr($subreddits.add({
      "id": "$item.id",
      "topic": "$util.escapeJavaScript($item.topic)",
      "created_at": "$item.created_at"
    }))
  #end
#end
$util.toJson($subreddits)

