@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header-icon {
    @apply h-8 w-6 lg:w-9 cursor-pointer rounded-sm lg:p-1 lg:hover:bg-gray-100;
  }

  .vote-button {
    @apply h-6 w-6 hover:bg-gray-200 p-1 rounded-md;
  }
}
